doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title || 'Minha API de livros e camisetas'
    link(rel="stylesheet", href="/css/style.css")
  body
    //- 'block content' é um placeholder.
    //- As páginas filhas irão injetar seu conteúdo aqui.
    block content